.margin-space{
    margin: 15px;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 80%;
  }
  
  form {
    text-align: center;
  }

 .button-class{
   background-color: green;
   color:white;
   margin: 10px;
 }

 .button-cancel{
   background-color: red;
   color: white;
   margin: 10px;
 }