.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .margin-space{
    margin: 50px;
}


mat-form-field{
    margin: 5px;
}

.button-class{
  background-color: green;
  color:white;
  margin: 10px;
}

.button-cancel{
  background-color: red;
  color: white;
  margin: 10px;
}