<form class="margin-space">
    <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Client Name">
        </mat-form-field>
      
        <mat-form-field>
          <textarea matInput placeholder="Client Address"></textarea>
        </mat-form-field>
      

        <mat-form-field>
            <input matInput placeholder="Billing Name">
          </mat-form-field>
        


        <mat-form-field>
            <input matInput placeholder="GST Number">
          </mat-form-field>


          <mat-form-field>
              <input matInput placeholder="Contact Person Name">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Contact Person Number">
            </mat-form-field>

  


      </div>
      


</form>
