<form class="margin-space">
    <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Client Name">
        </mat-form-field>
      
        <mat-form-field>
          <textarea matInput placeholder="Client Address"></textarea>
        </mat-form-field>
      

        <mat-form-field>
            <input matInput placeholder="Billing Name">
          </mat-form-field>
        


        <mat-form-field>
            <input matInput placeholder="GST Number">
          </mat-form-field>


          <mat-form-field>
              <input matInput placeholder="Contact Person Name">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Contact Person Number">
            </mat-form-field>

            <mat-grid-list cols="1" rowHeight="50px">
                <mat-grid-tile>
                    <button class="btn waves-effect waves-light button-class" type="submit" name="action">Submit
                      </button>
                    
                      <button class="btn waves-effect waves-light button-cancel" type="submit" name="action">Cancel
                        </button>
      
          
          
                </mat-grid-tile>
                
              </mat-grid-list>

  


      </div>
      


</form>
